---
- hosts:
    - ffp_gw

  collections:
    - devsec.hardening
    - freifunk_potsdam.gluon

  roles:
    - weareinteractive.users
    - Frzk.nftables
    - stuvusit.systemd-journald
    - hafu.systemd_timesyncd
    - ssh_hardening
    - prometheus.prometheus.node_exporter
    # collection: freifunk_potsdam.gluon
    - system_packages
    - default_network
    - policy_routing
    - wireguard_client
    - batman_adv
    - gw2gw_l2tp
    - fastd_server
    - isc_dhcp_server
    - bind_server
    - radvd

  vars:
    # to map correct package arch from host facts
    deb_architecture: {
      "aarch64": "arm64",
      "x86_64": "amd64"
    }

  pre_tasks:

    - name: Allow users in group sudo to switch without password
      ansible.builtin.lineinfile:
        path: /etc/sudoers
        state: present
        regexp: '^%sudo\sALL='
        line: '%sudo ALL=(ALL) NOPASSWD: ALL'
        validate: /usr/sbin/visudo -cf %s

    - name: Remove tunneldigger client configuration
      block:
        - name: Check for tunneldigger service file
          register: tunneldigger_service_file_stat
          ansible.builtin.stat:
            path: "/etc/systemd/system/{{ tunneldigger_client_service_file_base_name | default('tunneldigger-client') }}.service"

        - name: Stop and disable tunneldigger service
          ansible.builtin.systemd:
            service: "{{ tunneldigger_client_service_file_base_name | default('tunneldigger-client') }}.service"
            state: stopped
            enabled: false
          when: tunneldigger_service_file_stat.stat.exists
          notify:
            - Restart systemd-networkd

        - name: Remeove service and network file
          ansible.builtin.file:
            path: "{{ item }}"
            state: absent
          loop:
            - "/etc/systemd/system/{{ tunneldigger_client_service_file_base_name | default('tunneldigger-client') }}.service"
            - "/etc/systemd/network/60-{{ tunneldigger_client_ifname | default('tunneldigger-client') }}.network"
          notify:
            - Restart systemd-networkd

  tasks:

    # caddy
    - name: Install caddy dependencies
      ansible.builtin.package:
        name:
          - debian-keyring
          - debian-archive-keyring
          - apt-transport-https
          - curl
        state: present

    - name: Get caddy gpg key
      ansible.builtin.get_url:
        url: https://dl.cloudsmith.io/public/caddy/stable/gpg.key
        dest: /usr/share/keyrings/caddy-stable-archive-keyring.gpg.download
        mode: "0644"

    - name: Convert gpg key
      ansible.builtin.shell:  # noqa: no-changed-when
        cmd: "set -o pipefail && cat /usr/share/keyrings/caddy-stable-archive-keyring.gpg.download \
              | gpg --dearmor -o - > /usr/share/keyrings/caddy-stable-archive-keyring.gpg"
        executable: /bin/bash

    - name: Add caddy apt repository
      ansible.builtin.apt_repository:
        filename: caddy-stable.list
        repo: "deb [signed-by=/usr/share/keyrings/caddy-stable-archive-keyring.gpg] https://dl.cloudsmith.io/public/caddy/stable/deb/debian any-version main"
        state: present

    - name: Install caddy
      ansible.builtin.package:
        name:
          - caddy
        state: present
      when: not ansible_check_mode
      notify:
        - Enable caddy

    # NOTE: download may fails first time, try it again
    - name: Download caddy binary with caddy-dns/netcup
      retries: 3
      delay: 5
      ansible.builtin.get_url:
        # https://caddyserver.com/api/download?os=linux&arch=amd64&p=github.com%2Fcaddy-dns%2Fnetcup%40main&idempotency=78516415918312
        url: "https://caddyserver.com/api/download?os=linux&arch={{ deb_architecture[ansible_architecture] }}&p=github.com%2Fcaddy-dns%2Fnetcup%40main&idempotency={{ 99999999999999 | ansible.builtin.random(start=10000000000000, seed=ansible_date_time.iso8601_basic) }}"
        dest: /usr/local/bin/caddy.custom
        owner: root
        group: root
        mode: "0755"

    # https://caddyserver.com/docs/build#package-support-files-for-custom-builds-for-debianubunturaspbian
    - name: Divert /usr/bin/caddy to /usr/bin/caddy.default
      community.general.dpkg_divert:
        path: /usr/bin/caddy
        divert: /usr/bin/caddy.default
        rename: true

    - name: Add alternatives for default caddy file with low priority
      community.general.alternatives:
        name: caddy
        link: /usr/bin/caddy
        path: /usr/bin/caddy.default
        priority: 10
        state: auto
      when: not ansible_check_mode
      notify:
        - Restart caddy

    - name: Add alternatives for custom caddy file with high priority
      community.general.alternatives:
        name: caddy
        link: /usr/bin/caddy
        path: /usr/local/bin/caddy.custom
        priority: 50
        state: auto
      when: not ansible_check_mode
      notify:
        - Restart caddy

    - name: Create directory for Caddy service override
      ansible.builtin.file:
        path: /etc/systemd/system/caddy.service.d
        state: directory
        owner: root
        group: root
        mode: "0755"

    - name: Create override file for Caddy service
      ansible.builtin.copy:
        dest: /etc/systemd/system/caddy.service.d/environment.conf
        content: |
          [Service]
          Environment=NETCUP_CUSTOMER_NUMBER={{ caddy_netcup_customer_number }}
          Environment=NETCUP_API_KEY={{ caddy_netcup_api_key }}
          Environment=NETCUP_API_PASSWORD={{ caddy_netcup_api_password }}
        owner: root
        group: root
        mode: "0640"
      no_log: true
      notify:
        - Systemd daemon-reload
        - Restart caddy

    - name: Generate Caddyfile
      ansible.builtin.copy:
        dest: /etc/caddy/Caddyfile
        content: |
          {
              email hannes+ffp-caddy-gw{{ gw_number }}@0xef.de
              skip_install_trust
              servers {
                metrics
              }
          }
          (netcup_dns_tls) {
              tls {
                  dns netcup {
                      customer_number {env.NETCUP_CUSTOMER_NUMBER}
                      api_key {env.NETCUP_API_KEY}
                      api_password {env.NETCUP_API_PASSWORD}
                  }
                  dns_challenge_override_domain _acme-challenge_gw{{ gw_number }}_ffp_name.freifunk-potsdam.de
                  propagation_timeout 900s
                  propagation_delay 600s
                  resolvers 1.1.1.1
              }
          }
          http://speed.ffp {
              bind [fdc0:ffee:a10::{{ gw_number }}:0:0] [fdc0:ffee:a10:10:0:{{ gw_number }}::] 10.22.0.{{ gw_number }} 10.22.16.{{ gw_number }}
              redir https://speed.gw{{ gw_number }}.int.ffp.name
          }
          http://speedtest.ffp {
              bind [fdc0:ffee:a10::{{ gw_number }}:0:0] [fdc0:ffee:a10:10:0:{{ gw_number }}::] 10.22.0.{{ gw_number }} 10.22.16.{{ gw_number }}
              redir https://speed.gw{{ gw_number }}.int.ffp.name
          }
          http://ipv4.speedtest.ffp {
              bind 10.22.0.{{ gw_number }} 10.22.16.{{ gw_number }}
              redir https://speed4.gw{{ gw_number }}.int.ffp.name
          }
          http://ipv6.speedtest.ffp {
              bind [fdc0:ffee:a10::{{ gw_number }}:0:0] [fdc0:ffee:a10:10:0:{{ gw_number }}::]
              redir https://speed6.gw{{ gw_number }}.int.ffp.name
          }
          http://speed.ffp.name {
              bind [fdc0:ffee:a10::{{ gw_number }}:0:0] 10.22.0.{{ gw_number }}
              redir https://speed.gw{{ gw_number }}.int.ffp.name
          }
          http://speed4.ffp.name {
              bind 10.22.0.{{ gw_number }}
              redir https://speed4.gw{{ gw_number }}.int.ffp.name
          }
          http://speed6.ffp.name {
              bind [fdc0:ffee:a10::{{ gw_number }}:0:0]
              redir https://speed6.gw{{ gw_number }}.int.ffp.name
          }
          https://speed.gw{{ gw_number }}.int.ffp.name {
              bind [fdc0:ffee:a10::{{ gw_number }}:0:0] 10.22.0.{{ gw_number }}
              reverse_proxy [::1]:8880 127.0.0.1:8880
              import netcup_dns_tls
          }
          https://speed4.gw{{ gw_number }}.int.ffp.name {
              bind 10.22.0.{{ gw_number }}
              handle_path /api/* {
                  rewrite * /{uri}
                  reverse_proxy 127.0.0.1:8881
              }
              reverse_proxy 127.0.0.1:8880
              import netcup_dns_tls
          }
          https://speed6.gw{{ gw_number }}.int.ffp.name {
              bind [fdc0:ffee:a10::{{ gw_number }}:0:0]
              handle_path /api/* {
                  rewrite * /{uri}
                  reverse_proxy [::1]:8881
              }
              reverse_proxy [::1]:8880
              import netcup_dns_tls
          }
          https://gw{{ gw_number }}.freifunk-potsdam.de {
              bind [{{ ansible_default_ipv6.address|default(ansible_all_ipv6_addresses[0]) }}] {{ ansible_default_ipv4.address|default(ansible_all_ipv4_addresses[0]) }}
              @blocked not remote_ip 2603:c020:801d:3900:8a2e:f69b:a8e2:cd76 130.61.102.150
              respond @blocked "Access Denied" 403
              reverse_proxy /metrics/node [::1]:9100
              reverse_proxy /metrics/dhcpd_br0_leases [::1]:9198
              reverse_proxy /metrics/dhcpd_br16_leases [::1]:9214
              metrics /metrics/caddy
          }
        owner: root
        group: root
        mode: "0644"
      notify:
        - Reload caddy
    # END: caddy

    # librespeed
    - name: Install podman
      ansible.builtin.package:
        name:
          - podman
          - acl     # beckome_user
        state: present

    - name: Create containers user
      register: containers_user
      ansible.builtin.user:
        name: containers
        shell: /bin/bash
        home: /srv/containers/home

    - name: Run podman migrate
      ansible.builtin.command:  # noqa: no-changed-when no-handler
        cmd: "podman system migrate"
      when: containers_user.changed

    - name: Run podman migrate as containers user
      become: true
      become_user: containers
      ansible.builtin.command:  # noqa: no-changed-when
        cmd: "podman system migrate"
      when: not ansible_check_mode and containers_user.changed

    - name: Check if containers user lingers
      register: linger_containers
      ansible.builtin.stat:
        path: /var/lib/systemd/linger/containers

    - name: Enable linger for user containers
      ansible.builtin.command: loginctl enable-linger containers  # noqa: no-changed-when
      when: not linger_containers.stat.exists

    - name: Check if podman socket exists
      register: containers_podman_socket_stat
      ansible.builtin.stat:
        path: /srv/containers/home/.config/systemd/user/sockets.target.wants/podman.socket

    - name: Enable podman socket for user containers
      become: true
      become_user: containers
      # ansible.builtin.command: systemctl --user enable --now podman.socket
      ansible.builtin.systemd_service:
        name: podman.socket
        enabled: true
        scope: user
        state: started
      environment:
        XDG_RUNTIME_DIR: "/run/user/{{ containers_user.uid }}"
      when: not ansible_check_mode and not containers_podman_socket_stat.stat.exists

    - name: Enable podman service
      become: true
      become_user: containers
      ansible.builtin.systemd_service:
        name: podman.service
        scope: user
        enabled: true
        state: started
      environment:
        XDG_RUNTIME_DIR: "/run/user/{{ containers_user.uid }}"

    - name: Create directory for librespeed frontend configuration
      ansible.builtin.file:
        path: /srv/containers/home/containers/librespeed-frontend
        state: directory
        owner: containers
        group: containers
        mode: "0755"

    - name: Create librespeed frontend configuration
      register: librespeed_frontend_config
      ansible.builtin.copy:
        dest: /srv/containers/home/containers/librespeed-frontend/servers.json
        content: "{{ librespeed_frontend_config | to_json }}"
        owner: containers
        group: containers
        mode: "0644"

    - name: Create librespeed frontend container
      become: true
      become_user: containers
      containers.podman.podman_container:
        force_restart: "{{ librespeed_frontend_config.changed }}"
        name: librespeed-frontend
        image: ghcr.io/librespeed/speedtest:latest
        hostname: librespeed-frontend{{ gw_number }}
        memory: 64mb
        memory_swap: 64mb
        label:
          io.containers.autoupdate: registry
        env:
          MODE: frontend
          TITLE: "LibreSpeed"
          DISABLE_IPINFO: true
        volume:
          - "/srv/containers/home/containers/librespeed-frontend/servers.json:/servers.json:ro"
        ports:
          - "127.0.0.1:8880:80"
          - "[::1]:8880:80"
        restart_policy: always

    - name: Create systemd unit for librespeed-frontend container
      become: true
      become_user: containers
      environment:
        XDG_RUNTIME_DIR: "/run/user/{{ containers_user.uid }}"
      containers.podman.podman_generate_systemd:
        name: librespeed-frontend
        new: true
        dest: /srv/containers/home/.config/systemd/user
        restart_policy: always
      when: not ansible_check_mode

    - name: Ensure librespeed-frontend container is started and enabled
      become: true
      become_user: containers
      environment:
        XDG_RUNTIME_DIR: "/run/user/{{ containers_user.uid }}"
      ansible.builtin.systemd_service:
        name: container-librespeed-frontend
        daemon_reload: true
        state: started
        enabled: true
        scope: user
      when: not ansible_check_mode

    - name: Create librespeed backend container
      become: true
      become_user: containers
      containers.podman.podman_container:
        name: librespeed-backend
        image: ghcr.io/librespeed/speedtest:latest
        hostname: librespeed-backend{{ gw_number }}
        memory: 128mb
        memory_swap: 128mb
        label:
          io.containers.autoupdate: registry
        env:
          MODE: backend
        ports:
          - "127.0.0.1:8881:80"
          - "[::1]:8881:80"
        restart_policy: always

    - name: Create systemd unit for librespeed-backend container
      become: true
      become_user: containers
      environment:
        XDG_RUNTIME_DIR: "/run/user/{{ containers_user.uid }}"
      containers.podman.podman_generate_systemd:
        name: librespeed-backend
        new: true
        dest: /srv/containers/home/.config/systemd/user
        restart_policy: always
      when: not ansible_check_mode

    - name: Ensure librespeed-frontend container is started and enabled
      become: true
      become_user: containers
      environment:
        XDG_RUNTIME_DIR: "/run/user/{{ containers_user.uid }}"
      ansible.builtin.systemd_service:
        name: container-librespeed-backend
        daemon_reload: true
        state: started
        enabled: true
        scope: user
      when: not ansible_check_mode
    # END librespeed

  handlers:
    - name: "Systemd daemon-reload"
      ansible.builtin.systemd_service:
        daemon_reload: true
      when: not ansible_check_mode

    - name: "Restart systemd-networkd"
      ansible.builtin.systemd:
        service: systemd-networkd
        state: restarted

    - name: "Enable caddy"
      ansible.builtin.systemd_service:
        name: caddy
        enabled: true
        state: started
      when: not ansible_check_mode

    - name: "Restart caddy"
      ansible.builtin.systemd_service:
        name: caddy
        state: restarted
      when: not ansible_check_mode

    - name: "Reload caddy"
      ansible.builtin.systemd_service:
        name: caddy
        state: reloaded
      when: not ansible_check_mode
