---
# tasks file for gw2gw_l2tp

- name: "Systemd-networkd: Create gateway to gateway netdev(s)"
  ansible.builtin.template:
    src: 55-l2tp.netdev.j2
    dest: /etc/systemd/network/55-l2tp-gw{{ gw_number }}to{{ hostvars[item].gw_number }}.netdev
    owner: root
    group: root
    mode: "0644"
  loop: "{{ groups['ffp_gw'] | flatten }}"
  when: hostvars[item].inventory_hostname != inventory_hostname
  notify:
    - Restart systemd-networkd

# A tricky nested loop
# We need a netdev for every remote gateway and every domain…
- name: "Systemd-networkd: Run bla…"
  ansible.builtin.include_tasks:
    file: l2tp-network.yml
  loop: "{{ groups['ffp_gw'] | flatten }}"
  loop_control:
    loop_var: host_item
  when: hostvars[host_item].inventory_hostname != inventory_hostname

- name: "Systemd-networkd: Enable systemd-networkd"
  ansible.builtin.systemd:
    name: systemd-networkd.service
    enabled: true

# Set the hardware interface hop penalty via networkd-dispatcher
# NOTE: Currently this is not possible to set via systemd-networkd via a
#       .netdev or .network file directly
- name: "Networkd-dispatcher: Make sure is installed"
  ansible.builtin.package:
    name: networkd-dispatcher
    state: present

- name: "Networkd-dispatcher: Make sure configured.d directory exists"
  ansible.builtin.file:
    path: /etc/networkd-dispatcher/configured.d
    state: directory
    owner: root
    group: root
    mode: "0755"

- name: "Networkd-dispatcher: Copy script to set hop penalty"
  ansible.builtin.template:
    src: 99-l2tp-hardif-hp.sh.j2
    dest: /etc/networkd-dispatcher/configured.d/99-l2tp-hardif-hp.sh
    owner: root
    group: root
    mode: "0755"

- name: "Networkd-dispatcher: Make sure service is enabled"
  ansible.builtin.systemd:
    name: networkd-dispatcher.service
    enabled: true
